.right {
	text-align: right;
    vertical-align: text-top;
	width: 250px;
}
#content {
	border-radius: 10px;
	border-style: groove;
	width: 500px;
	margin-right: auto;
	margin-left: auto;
	background-color: #000000;
	border-width: 20px;
	margin-top: 100px;
	opacity: 0.9;
}
body {
	font-family: Arial, Helvetica, sans-serif;
	color: #FFFFFF;
	background-image: url('wallpaper.jpg');
	background-attachment: fixed;
}
.center {
	text-align: center;
}
fieldset {
		border-style: hidden;
}
h1 {
	text-decoration: underline;
}
footer {
	text-align: right;
}
p { 
    display: none;
}
