<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  https://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
  <connectionStrings>
    <add name="Potato"
        connectionString="Server=POTATO;Database=master;Integrated Security=True"
        providerName="System.Data.SqlClient"/>

    <remove name="LocalSqlServer"/>
    <add name="LocalSqlServer"
        connectionString="Server=POTATO;Database=master;Integrated Security=True"
        providerName="System.Data.SqlClient"/>
  </connectionStrings>

    <system.web>
      <pages theme="Dark"/>
      <compilation debug="true" targetFramework="4.6.1"/>
      <httpRuntime targetFramework="4.6.1"/>
          <authentication mode="Forms">
            <forms timeout="60" />
          </authentication>
          <authorization>
            <allow users="Admin"/>
          </authorization>
    </system.web>
  <appSettings>
    <add key="ValidationSettings:UnobtrusiveValidationMode" value="None" />
  </appSettings>
</configuration>
